<h1>Welcome to Two Minute Break!</h1>

<p>Busy schedules preventing you from keeping up-to-date with the news and current affairs? Two Minute Break deliver news content matching your interests at any time you like throughout the day.</p>

<p>Click on your favorite reads below and select a time for articles to be sent to your inbox.</p>	

<ul>
	<li><p>Reddit</p></li>
	<li><p>NYTimes</p></li>
    <li><p>Mashable</p></li>
</ul>

